<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zking.erp.Share.mapper.ErprolerightMapper">
  <resultMap id="BaseResultMap" type="com.zking.erp.Share.model.Erproleright">
    <constructor>
      <idArg column="rfId" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="rId" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="rCode" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    rfId, rId, rCode
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from erproleright
    where rfId = #{rfid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from erproleright
    where rfId = #{rfid,jdbcType=BIGINT}
  </delete>
  <delete id="deleteRoleRight">
    delete  from erproleright where rId=#{rid}

  </delete>
  <insert id="insert" parameterType="com.zking.erp.Share.model.Erproleright">
    insert into erproleright (rfId, rId, rCode
      )
    values (#{rfid,jdbcType=BIGINT}, #{rid,jdbcType=BIGINT}, #{rcode,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zking.erp.Share.model.Erproleright">
    insert into erproleright
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="rfid != null">
        rfId,
      </if>
      <if test="rid != null">
        rId,
      </if>
      <if test="rcode != null">
        rCode,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="rfid != null">
        #{rfid,jdbcType=BIGINT},
      </if>
      <if test="rid != null">
        #{rid,jdbcType=BIGINT},
      </if>
      <if test="rcode != null">
        #{rcode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
    <insert id="addRoleRight" parameterType="java.util.List">
        insert into erproleright(rId,rCode) values
      <foreach collection="rolerights.rcode.split(',')" item="roleright" index="index" separator=",">
      (#{rolerights.rid}, #{roleright})
      </foreach>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.zking.erp.Share.model.Erproleright">
    update erproleright
    <set>
      <if test="rid != null">
        rId = #{rid,jdbcType=BIGINT},
      </if>
      <if test="rcode != null">
        rCode = #{rcode,jdbcType=VARCHAR},
      </if>
    </set>
    where rfId = #{rfid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zking.erp.Share.model.Erproleright">
    update erproleright
    set rId = #{rid,jdbcType=BIGINT},
      rCode = #{rcode,jdbcType=VARCHAR}
    where rfId = #{rfid,jdbcType=BIGINT}
  </update>

</mapper>