<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zking.erp.Share.mapper.StoreMapper">
  <resultMap id="BaseResultMap" type="com.zking.erp.Share.model.Store">
    <constructor>
      <idArg column="storeId" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="stName" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="eId" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="stAddress" javaType="java.lang.String" jdbcType="VARCHAR"/>
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    storeId, stName, eId,stAddress
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from store
    where storeId = #{storeid,jdbcType=INTEGER}
  </select>
  <select id="queryStorePager" resultType="java.util.Map">
    select *from store s,erprole e where s.eId=e.rId
    <if test="store.stname !=null">
      and  s.stName  like'%${store.stname}%'
    </if>
    <if test="store.eid !=null">
      and s.eId=#{store.eid}
    </if>
    <if test="store.staddress !=null ">
      and s.stAddress like'%${store.staddress}%'
    </if>
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from store
    where storeId = #{storeid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zking.erp.Share.model.Store">
    insert into store ( stName, eId,stAddress
      )
    values (#{stname,jdbcType=VARCHAR}, #{eid,jdbcType=INTEGER},#{staddress,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zking.erp.Share.model.Store">
    insert into store
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="storeid != null">
        storeId,
      </if>
      <if test="stname != null">
        stName,
      </if>
      <if test="eid != null">
        eId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="storeid != null">
        #{storeid,jdbcType=INTEGER},
      </if>
      <if test="stname != null">
        #{stname,jdbcType=VARCHAR},
      </if>
      <if test="eid != null">
        #{eid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zking.erp.Share.model.Store">
    update store
    <set>
      <if test="stname != null">
        stName = #{stname,jdbcType=VARCHAR},
      </if>
      <if test="eid != null">
        eId = #{eid,jdbcType=INTEGER},
      </if>
      <if test="staddress != null">
        stAddress = #{staddress,jdbcType=VARCHAR},
      </if>
    </set>
    where storeId = #{storeid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zking.erp.Share.model.Store">
    update store
    set stName = #{stname,jdbcType=VARCHAR},
      eId = #{eid,jdbcType=INTEGER}
    where storeId = #{storeid,jdbcType=INTEGER}
  </update>

</mapper>